.news-block {
  border-top: 1px solid #e9ebf0;
  border-bottom: 1px solid #e9ebf0;
  background-color: #f9f9f9;

  &__head {
    display: flex;
    align-items: center;
  }
  ы &__title {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    color: @lightBlue;
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
